.App {
  text-align: center;
  height: 100vh;
  color: #3D3D3D
}
.panels {
  display: flex;
  height: 100%;
}
.panels .infoPanel, .panels .formPanel {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}